<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>

        <div class="container mt-5">
            <div class="card w-50 mx-auto">
                <div class="card-header">
                    Comment
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <%= comment.comment %>
                    </p>
                    <footer class="blockquote-footer">
                        <%= comment.username %>
                    </footer>
                </div>
            </div>
            <div class="text-center mt-3 d-flex justify-content-center gap-3">
                <a href="/comments" class="btn btn-primary">Back to all comments</a>
                <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">Edit Comment</a>
                <form action='/comments/<%= comment.id %>?_method=DELETE' method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>

        <%- include('../partials/footer') %>