<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <div class="container mt-5 d-flex flex-column align-items-center"> 
        <h1>Browsing the <%= name %> subreddit</h1>
        <h2>
            <%= description %>
        </h2>
        <p>
            <%= subscribers %>
        </p>
        <hr>
        <% for (post of posts) { %>
            <h3>
                <%= post.title %>
            </h3>
            <p>
                <%= post.author %>
            </p>
            <% if (post.img ) { %>
                <img src="<%= post.img %>" alt="">
                <% } %>
            <% } %>
    </div>

    <%- include('partials/footer') %>