<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= name %>
    </title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
    <h1>Browsing the <%= name %> subreddit</h1>
    <h2>
        <%= description %>
    </h2>
    <p>
        <%= subscribers %>
    </p>
    <hr>
    <div class="flex">
        <% for (post of posts) { %>
            <h3>
                <%= post.title %>
            </h3>
            <p>
                <%= post.author %>
            </p>
            <% if (post.img ) { %>
                <img src="<%= post.img %>" alt="">
                <% } %>
                    <% } %>
    </div>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>